[package]
name = "main"
version = "0.1.0"
edition = "2024"
rust-version = "1.92.0"

[dependencies]
ratatui = "0.30.0"
crossterm = "0.29.0"
anyhow = "1.0.100"
tokio = { version = "1.49.0", features = ["full"] }